.artistSearchrInput {
  width: 300px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 7px;
  border: none;
  box-sizing: border-box;
}

.searchButton {
  margin-left: 10px;
}

.lupa {
  margin-left: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.artistName {
  margin-top: 35px;
  color: white;
  font-size: 4rem;
}

.loaderContainer {
  padding-top: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
